<launch>

  <!-- WAKEUP -->
  <node pkg="amcl_wakeup" type="wakeup" name="wakeup" output="screen">

    <param name="laser_max_range"           value="1.5"/>
    <param name="laser_max_beams"           value="48"/>
    <param name="laser_z_hit"               value="0.6"/>
    <param name="laser_z_rand"              value="0.4"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_model_type"          value="likelihood_field"/>
    <param name="if_debug"                  value="false"/>
    <param name="wakeup_score_threshold"    value="0.080"/>
    <param name="if_print"                  value="false"/>
    <param name="search_width" 	 	    value="12.0"/>
    <param name="wait_time"   	    	    value="4.0"/>

   <!-- some stretch goals parameters -->
   <param name="if_use_L2"                  value="false"/>
   <param name="converge_ite_limit"         value="20"/>
   <param name="wakeup_score_threshold"     value="0.04"/> <!-- if use L2 -->
  </node>
</launch>
